.profile-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}
.profile-details {
  display: flex;
  gap: 16px;
}
.profile-location {
  position: relative;
}
.profile-location::after {
  position: absolute;
  content: "";
  background: #4d4d4d;
  width: 2px;
  height: 15px;
  top: 50%;
  left: -8px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 600px) {
  .profile-page-wrapper {
    grid-template-columns: 2fr 3fr;
  }
  
  .profile-page-wrapper > img {
    margin-top: 24px;
    border-radius: 8px;
  }
}
  